/* COMMON RULES */

:root {
  --main-color: #3279FF ;
  --secondary-color: orange ;
  --light: #F3F3F3;
  --dark:  rgb(0, 0, 29);
  --text-font: 'Roboto', sans-serif;
  --title-font: 'Patrick Hand SC', cursive;
  --text-font-size: 14px;
  --title-font-size: 18px;
  --spacing: 8px;
  --formWidth: 100%;
  --formMargin: 8px 0;
  --formPadding: 8px 20px;
  --burgerMenu-font-size: 21px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--light);
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(
      rgba(0, 0, 29, 0.856),
      rgba(18, 9, 61, 0.671)
    ),
    url("https://fastly.4sqi.net/img/general/600x600/38168747_5cQcwEpfouMfTwqoxEsdRtKNItq2IvJR6uncRZeHnVI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--light);
  text-align: center;
}

h1 {
  font-family: var(--title-font);
  font-size: calc(var(--title-font-size) * 1.5);
  text-align: left;
}

h2 {
  font-family: var(--title-font);
  font-size: calc(var(--title-font-size) * 3);
  text-align: center;
}

h3 {
  font-size: var(--title-font-size);
  margin: 5px;
}

section {
  margin: 0;
  width: 100%;
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
}
/* end of COMMON RULES */

/* beginning of BURGER MENU */
#burgerLogo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
}

#burgerToggle {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  font-size: var(--burgerMenu-font-size);
  line-height: 1.6;
}

#burgerToggle a {
  text-decoration: none;
  color: var(--light);
  transition: color 0.3s ease;
}

#burgerToggle a:hover {
  color: var(--light);
}

#checkbox {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  left: 15px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

#burgerMenu {
  position: fixed;
  width: 300px;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background-color: rgb(0, 0, 29);
  opacity: 70%;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burgerMenu-elem {
  text-align: left;
}

#checkbox:checked ~ ul {
  transform: none;
}

/* end of BURGER MENU */

/* beginning of FLOATING CONTACT BUTTON */

.floating-contact-button {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 50px;
  margin: auto;
  background-color: var(--main-color);
  filter: drop-shadow(0 0 5px black);
  border-color: var(--main-color);
  line-height: 50px;
  font-size: 20px;
  color: var(--light);
  display: none;
}

.floating-contact-button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--main-color);
}

button:hover {
  background-color: var(--light);
  color: var(--main-color);
}

/* end of FLOATING CONTACT BUTTON */

/* beginning of HOME section */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 300px;
}

.arrow-down {
  width: 30px;
  animation-name: verticalSliding;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes verticalSliding {
  0% {
    transform: translate(0px, 30px);
  }
  50% {
    transform: translate(0px, 80px);
  }
  100% {
    transform: translate(0px, 30px);
  }
}
/* end of HOME section */

/* beginning of ABOUT section */
.about {
  height: 100%;
  background-color: rgb(0, 0, 29);
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-box {
    text-align: center;
    background-color: linear-gradient(rgb(184, 170, 196), rgb(255, 255, 255));
    padding: calc(var(--spacing) * 2);
}

.about h2 {
  margin-bottom: var(--spacing);
}

.about p {
  padding: var(--spacing);
}

.img-toast-box {
  height: 200px;
  width: 100%;
  background-image: url("https://images.ctfassets.net/ol8t390k40t7/3AvH9Jo1HWIiuqgWQUMmyW/887152d395f2b09087dd9850dfda6f01/0014.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 5);
}
/* end of ABOUT section */

/* beginning MENU section */
/********************************
* Carousel styles
*********************************/
.menu {
  height: 100%;
}
.carousel-items {
  /* height: 100%; */
  display: -webkit-box;
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

.carousel-item {
  -webkit-box-flex: 1;
  flex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: center;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 0px;
  background-color: #3d4852;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
  width: 30px;
  height: 40px;
}

.photo-cocktail {
  height: 500px;
}

.toute-la-carte {
  cursor: pointer;
  border-radius: 25px;
  padding: 100px;
  padding: var(--formPadding);
  margin: var(--formMargin);
  background-color: var(--dark);
  opacity: 0.8;
  color: var(--light);
  border: 1px solid var(--light);
  width: 300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.toute-la-carte:hover {
  border: 1px solid var(--dark);
  background-color: var(--light);
  color: var(--dark)
}

/* end of MENU section */

/* beginning of EVENTS section */
.events {
  width: 100%;
  height: 100%;
  padding: var(--spacing);
  background-color: rgb(0, 0, 29);
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  list-style-type: none;
}
.events-subtitle > p {
  text-align: center;
  padding: var(--spacing);
}

.events ul {
  list-style: none;
}

.events-week {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.events-week li {
  margin: calc(var(--spacing) * 2);
  width: 350px;
  height: 425px;
  background-color: var(--light);
  padding: var(--spacing);
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.day-header {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.day-header img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.day-body {
  justify-content: center;
  align-items: center;
  font-size: var(--text-font-size);
}

.day-body > h3 {
  color: var(--dark);
}
.day-body > p {
  margin: calc(var(--spacing) / 2) 0 0 0;
  color: var(--dark);
}
/* end of EVENTS section */

/* beginning of CONTACT section  */
.contact {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: var(--sectionMargin);
  color: var(--light);
  height: 100%;
}

.contact-body {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  max-width: 900px;
  height: 100%;
}

.contact_style {
  width: var(--formWidth);
  padding: var(--formPadding);
  margin: var(--formMargin);
}

.map {
  grid-column: 2/3;
}

.info {
  grid-column: 1/2;
  padding-top: 80px;
  padding-left: 10px;
}

.info p {
  font-size: var(--title-font-size);
  padding: 10px;
}

.form {
  font-size: var(--text-font-size);
  font: var(--text-font);
  padding: 10px;
}

.form input,
select,
textarea {
  border: none;
  border-bottom: 1px solid var(--light);
  border-left: 1px solid var(--light);
  background-color: var(--dark);
  color: var(--light);
  opacity: 0.8;
}

textarea {
  resize: none;
  height: 70px;
  display: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#date-container {
  display: none;
  justify-content: center;
}

#formButton {
  cursor: pointer;
  border-radius: 25px;
  padding: 10px;
  padding: var(--formPadding);
  margin: var(--formMargin);
  background-color: var(--dark);
  opacity: 0.8;
  color: var(--light);
  border: 1px solid var(--light);
}

#formButton:hover {
  border: 1px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
}
/* end of CONTACT section */

/* beginning of FOOTER */
footer {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 29);
  opacity: 90%;
  line-height: 25px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: var(--text-font-size);
  margin-top: 0px;
  color: var(--light);
}

.footer-networks {
  margin-left: calc(var(--spacing) * 2);
}

.footer-networks a {
  padding-right: var(--spacing);
}

.footer-legal {
  margin-right: calc(var(--spacing) * 2);
  text-align: right;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--light);
}
/* end of FOOTER */

/*________________________________________________________________________________SCREENS___ */

/*______________________________________________________________________MOBILE___ */

@media screen and (max-width: 768px) {
  /*media contact*/
  .form {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .map {
    grid-row: 1/2;
  }
  /* END media contact */

  /* media footer */

  footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .footer-networks {
    order: 1;
  }
  .footer-legal {
    order: 2;
  }
  .footer-credits {
    order: 3;
  }

  .footer-networks {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-networks a {
    padding-right: var(--spacing);
    padding-left: var(--spacing);
  }

  .footer-legal {
    margin-right: calc(var(--spacing) * 2);
    margin-left: calc(var(--spacing) * 2);
    text-align: center;
  }

  /* end media footer */
}
/*______________________________________________________________________TABLET___ */
@media screen and (min-width: 768px) {
  /* start of ABOUT section */
  .about-p {
    margin-bottom: calc(var(--spacing) * 3);
  }

  .img-toast-box {
    width: 85%;
    margin: 0 auto;
  }
  /* end of ABOUT section */

  /*media contact*/
  .form {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .map {
    grid-row: 1/3;
    max-height: 600px;
  }
  /* END media contact */
}
/*______________________________________________________________________DESKTOP___ */
@media screen and (min-width: 1200px) {
  /* start of HOME section */
  .logo-img {
    width: 500px;
    margin-bottom: 0;
  }

  .arrow-down {
    width: 50px;
  }

  @keyframes verticalSliding {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 30px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  /* end of HOME section */

  /* start of ABOUT section */
  .about {
    height: 100vh;
  }

  .about-p {
    margin-bottom: calc(var(--spacing) * 3);
  }
  
  .img-toast-box {
    height: 275px;
    width: 80%;
    margin-top: calc(var(--spacing) * 3);
  }
  /* end of ABOUT section */

  /* start media events */
  .day-header img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    filter: grayscale(100%);
  }
  img:hover {
    filter: grayscale(0%);
  }
  /* end media events */

  /*media contact*/
  .contact {
    height: 100vh;
  }

  /* END media contact */


/* SPECIAL DESKTOP SCREEN FOR EVENT SECTION */
@media screen and (min-width: 1550px) {
  .events {
    height: 100vh;
  }
}
/* END SPECIAL DESKTOP SCREEN FOR EVENT SECTION */

/* END MEDIA */
